@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body {
    background: #c7b39b url("../../img/site-background-image-planet-her.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}

input#button-hot-pink { /***************************************/
    background: url("../../img/site-background-image-hot-pink.jpg");
    width: 60px;
    height: 60px;
    position: fixed;
    margin: 0.25rem;
}

div.grid-uniform {
    position: relative; /* позиция */
    float: left; /* выравнял по левой стороне */
    text-align: center; /* текст по центру */
    display: flex;
    flex-wrap: wrap; /* в несколько линий */
    justify-content: center; /* пространста выравниявания по центру */
    width: 100%; /* размел блока по всей ширине строницы */
    margin-bottom: 6.25rem;
}

/*поисковик*/

.section-header {
    margin: 200px 0;
    text-align: center;
    color: pink;
    font-size: 2.5rem;
}

.search-menu__item {
    margin: 0.25rem 0.5rem;
    padding: 0 1rem ;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
    border: 2px solid pink;
    border-radius: 10px;
}

.search-menu__item:hover {
    color: pink;
    background-color: purple;
}

/**/

.grid-uniform {
    z-index: 0;
}

.search-menu__items {
    display: inline-block;
}

.search-menu__item {
    display: inline-block;
}

.product-title > a, .currency {
    color: pink; /* цвет шрифта */
    font-size: 2em; /* размер шрифта (заголовка) */
    text-decoration: none; /* убрали подчёркивание */
}

.currency {
    font-size: 1.5em; /* размер шрифта (цен) */
}

/* медиа */

@media (max-width: 576px) {
    .grid__item, .img{
        width: 100%;
        font-size: 0.5em;
    }
}

/*псевдоклассы*/

.grid-uniform__item {
    display: none;
}

.contentDisplayBlock {
    display: block;
}