.newMenu-menu {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 32px;
    background: radial-gradient(purple, black);
    border-radius: 50px;
}
.newMenu-menu__items {
    display: table;
    padding: 0;
    margin: 0;
    height: 5vh;
    width: 100%;
    list-style-type: none;
}

.newMenu-menu__item {
    display: table-cell;
    vertical-align: middle;
    transition: background-color 0.5s;
}

.newMenu-menu__item > a {
    text-decoration: none;
    transition: color 0.5s , background-color 0.5s;
    padding: 0.7rem 2rem;
    border-radius: 50px;
    color: pink;
}

.newMenu-menu__item > a:hover {
    color: hotpink;
    background-color: purple;
}

/*Лого*/

.newMenu-submenu__img {
    position: fixed;
    display: none;
    margin: 1rem;
    width: 100px;
    height: 100px;
    cursor: pointer;
    z-index: 10;
}

/* СабМеню*/

.newMenu-submenu {
    position: fixed;
    display: none;
    margin-top: 8rem;
    font-size: 32px;
    background: linear-gradient(to top, black, purple);
    border-radius: 0 200px 200px 0;
    z-index: 20;
}

.newMenu-submenu__items {
    display: table-cell;
}

.newMenu-submenu__item {
    display: block;
    vertical-align: center;
    margin: 6rem 0;
}

.newMenu-submenu__item > a {
    padding: 0 2rem 0 2rem;
    margin-right: 4rem;
    text-decoration: none;
    transition: color 0.5s , background-color 0.5s;
    border-radius: 50px;
    color: hotpink;
}

.newMenu-submenu__item > a:hover {
    color: hotpink;
    background-color: purple;
}

.newMenu-submenu__btn {
    width: 100px;
    height: 40px;
    background: purple;
    color: pink;
    font-size: 1.5rem;
}

.newMenu-submenu__btn:hover {
    background: darkred;
}

/**/
@media (max-width: 1000px){
    .newMenu-menu {
        display: none;
    }

    .newMenu-submenu__img {
        display: block;
    }

    .newMenu-submenu {
        display: none;
    }
}