body {
    margin: 0;
    padding: 0;
    background-color: purple;
}


section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

iframe {
    width: 1200px;
    height: 800px;
    object-fit: cover;
    border: none;
}

.main-content {
    width: 1200px;
    height: 850px;
    overflow: hidden;
    border-radius: 80px;
}

.video {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* кнопки */
.buttons-container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}

.btn {
    background-color: hotpink;
    color: purple;
    width: 49.5%;
    cursor: pointer;
    height: 2.5rem;
    border: 2px solid purple;
}

#left {
    border-radius: 0 0 100px 0;
}

#right {
    border-radius: 0 0 0 100px;
}

#left, #right {
    transition: color 0.5s, background-color 0.5s;
}

#left:hover {
    color: purple;
    background-color: red;
}

#right:hover {
    color: purple;
    background-color: green;
    object-fit: cover;
}

.btn:focus {
    outline: none;
}
