@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap');

body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

nav.main-nav {
    margin: 0;
    background-color: pink;
    text-align: center;
}

nav ul {
    padding: 0;
    margin: 0;
    position: relative;
}

li.main-nav__menu__item, ul.main-nav__menu {
    margin: 0 -0.3rem 0 0;
    display: inline-block;
    background-color: pink;
}

li a {
    display: block;
    padding: 0 6.25rem;
    color: purple;
    font-size: 2rem;
    /* а тут я не понимаю от чего отсчитываются ремы и емы, и как сделать пропорцию к
               пикселям, по этому оставил пока их */
    line-height: 3.75rem; /* Не понял в каких еденицах должен быть и сдбелал ремы */
    text-decoration: none;
    transition: background-color 1s linear;
}

li a:hover {
    transform: scaleX(-1);
}

nav a:hover {
    background-color: purple;
    color: pink;
}

/**/
img.menu-logo {
    display: none;
}

/* мобильное */

.mobile-nav {
    background: url("img/mobile6.jpg") no-repeat;
    background-size: cover;
    display: none;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0;
}

ul.mobile-nav__items {
    margin: 0;
    padding: 0;
}

li.mobile-nav__item {
    list-style-type: none;
    padding: 1rem;
}

li.mobile-nav__item > a {
    color: purple;
    text-decoration: none;
    font-size: 2rem;
}

li.mobile-nav__item > a:hover {
    color: pink;
}

/**/

@media (max-width: 1065px) {
    nav ul li:hover > ul.main-nav__submenu {
        display: inline;
        position: relative;
    }

    .main-header {
        display: none;
    }

    /* Значёк меню*/
    div.mobile-img {
        width: 1000px;
    }

    img.menu-logo {
        display: block;
    }

    /**/
    div.mobile-img {
        display: block;
        padding: 0;
        margin: 0;
    }

    div.mobile-img > img {
        width: 10%;
        margin: 1rem;
        cursor: pointer;
    }

    /*перенести под JS*/
    nav.mobile-nav {
        display: none;
        width: 70%;
        border: 2px solid deeppink;
        border-radius: 0 30px 30px 0;
        margin-top: 5rem;
    }

    ul.mobile-nav__items {
    }

    li.mobile-nav__item {
        padding: 0;
        margin: 0;
    }

    li.mobile-nav__item > a {
        padding: 0;
        margin: 1rem;
        text-align: left;
    }

    div.mobile-nav__btn--closed {
    }

    button.mobile-nav__btn--closed {
        font-size: 1.5rem;
        border: none;
        margin: 0.5rem;
        text-align: center;
        background: none;
        color: red;
        cursor: pointer;
    }
}

/*псевдо*/

.headerDisplayNone {
    display: none;
}